<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Hugo 0.83.1" />
    <title>Linedge</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body class="text-center text-white bg-dark">
    <div class="content">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div>
            <h3 class="float-md-start mb-0">Linedge</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <!-- <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Contact</a> -->
            </nav>
          </div>
        </header>
      </div>
      <div class="container my-5">
        <div class="container-content row p-0 pb-0 pe-lg-0 pt-lg-0 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-0 p-lg-5 pt-lg-5 mt-lg-5">
            <h1 class="display-4 fw-bold lh-1">A quick response to your help.</h1>
            <p class="lead"> Linedge is a platform that focuses on reducing the number of casualties and helping out people in case of a natural calamity. </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-4 mb-lg-3">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold mx-4" onclick="location.href='/main'">Get Started</button>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="cover-img rounded-lg-3" src="/images/cover.gif" alt="" width="443" />
          </div>
        </div>
      </div>

      <div class="cover-container d-flex w-100 h-100 px-2 pt-5 mx-auto flex-column">
        <footer class="mt-auto text-white-50">
          <p>
            Made by <a href="https://github.com/404Enigma" class="text-white">404Enigma</a>, in <a href="http://cicada3301reinvented.mstc.daiict.ac.in/" class="text-white">Cicada 3301:Reinvented</a>.
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
